* {
    font-size: 16;
}

.bigger-font {
    font-size: 24;
}

.big-font {
    font-size: 19;
}

.centered {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.width100 {
    width: 100%;
}
